{% if not jQuery.isEmptyObject(data) %}
<table class="table table-bordered small" style="background-color: #f9f9f9;">
    <thead>
        <tr>
            <th>Leave Type</th>
            <th class="text-right">Total Allocated</th>
            <th class="text-right">Expired</th>
            <th class="text-right">Used</th>
            <th class="text-right">Pending</th>
            <th class="text-right">Available</th>
        </tr>
    </thead>
    <tbody>
        {% for(const [key, value] of Object.entries(data)) { %}
        <tr>
            <td>{%= key %}</td>
            <td class="text-right">{%= value.total_leaves %}</td>
            <td class="text-right">{%= value.expired_leaves %}</td>
            <td class="text-right">{%= value.leaves_taken %}</td>
            <td class="text-right">{%= value.leaves_pending_approval %}</td>
            <td class="text-right">{%= value.remaining_leaves %}</td>
        </tr>
        {% } %}
    </tbody>
</table>
{% else %}
<p>No Leave Allocation Found</p>
{% endif %}
